@import './base.css';

#app {
  font-weight: normal;
}

a.router-link-active:hover,
a.router-link-exact-active:hover,
a.router-link:hover {
  color: inherit !important; /* o el color que desees */
  text-decoration: none;     /* opcional: quitar subrayado */
}

